<div class="editor-row" style="margin-top: 10px;">
  <div  ng-repeat="target in panel.targets"
	class="grafana-target"
	ng-class="{'grafana-target-hidden': target.hide}"
	ng-controller="KairosTargetCtrl"
	ng-init="init()">


	<div class="grafana-target-inner-wrapper">
	  <div class="grafana-target-inner">
	    <ul class="grafana-target-controls">
	      <li class="dropdown">
		<a class="pointer dropdown-toggle"
		   data-toggle="dropdown"
		   tabindex="1">
		  <i class="icon-cog"></i>
		</a>
		<ul class="dropdown-menu pull-right" role="menu">
		  <li role="menuitem">
		    <a tabindex="1" ng-click="duplicate()">Duplicate</a>
		  </li>
	       </ul>
	      </li>
	      <li>
		<a class="pointer" tabindex="1" ng-click="removeTarget(target)">
		  <i class="icon-remove"></i>
		</a>
	      </li>
	    </ul>

	    <ul class="grafana-target-controls-left">
	      <li>
		<a class="grafana-target-segment"
		   ng-click="target.hide = !target.hide; get_data();"
		   role="menuitem">
		  <i class="icon-eye-open"></i>
		</a>
	      </li>
	    </ul>

		<input type="text"
		       class="input-medium grafana-target-segment-input span10"
		       ng-model="target.series"
		       spellcheck='false'
		       bs-typeahead="listSeries"
		       placeholder="series name"
		       data-min-length=0 data-items=600
		       ><!-- ng-blur="seriesBlur()" -->

		<ul class="grafana-segment-list nav-tabs" role="menu">

			<li ng-repeat="tab in tabs" class="{{indexTab == $index ? 'active':''}}">
				 <a class="grafana-target-segment" ng-click="activeTab($index)">{{tab}}</a>
			</li>

		</ul>


		<div class="grafana-segment-list" role="menu" class="grafana-target-segment">
			<div ng-repeat="tab in tabs">
				<div ng-if="indexTab == $index" style="float:left;clear:both;">
					<div ng-include src="getTemplateTab(tab)"></div>
				</div>
			</div>
		</div>

	    <div class="clearfix"></div>
	  </div>
	</div>


  </div>
</div>
