<div>

	<a class="grafana-target-segment">
		<i class="icon-plus"></i>

	</a>

	<select ng-model="newType" ng-options="o.name for o in [{value:newTag(),name:'Tags'},{value:newTime(),name:'Time'},{value:newValue(),name:'Value'}]">
		<option value="">Select type</option>
	</select>

	<ul>
		<li ng-repeat="group in target.groups" >

			<a class="grafana-target-segment pointer" ng-click="remove($index)" tabindex="1">
			   <i class="icon-remove"></i>
			</a>

			<span ng-if="group.name == 'tag'" class="grafana-target-segment-list">
				<ul class="grafana-target-segment">
					<li ng-repeat="(tagName,tagValues) in tagsList" class="grafana-segment-list" ng-click="manageTagInGroup(group,tagName)" style="color:{{group.tags.indexOf(tagName) == -1 ? '':'#33b5e5'}};margin:0 auto;">
						{{tagName}}
					</li>
				</ul>
			</span>

			<span ng-if="group.name == 'time'" class="grafana-target-segment-list">

				<input ng-model="group.range_size.value" class="input-medium" type="text" placeholder="target units">

				<select ng-model="group.range_size.unit" class="input-small" style="width:auto;" ng-options="u for u in units"></select>
				
				<input ng-model="group.group_count" class="input-small" type="text" placeholder="target size">

			</span>

			<span ng-if="group.name == 'value'" class="grafana-target-segment-list">
				<input class="input-medium" type="text"  placeholder="target size"
				ng-model="group.range_size"
				>
			</span>

		</li>

	</ul>



</div>