<style type="text/css">
	.groupBy{
		margin-top:10px;
	}
	.groupBy .noBorderRight{
		border-right: 0px !important;
	}
	.groupBy .listGroups{
		list-style: none;
		margin-top: 5px;
	}

	.groupBy .grafana-target-segment{
		border-right: 1px solid #4b4b4b;
	}

	.groupBy .listGroups .tagNames{
		min-width: 85px;
		width: auto;
	}
	.groupBy .listGroups .listInGroups{
		margin: 0;
		padding: 0;

	}

	.groupBy .listGroups .listInGroups li{
		float:left;
		margin: 0 5px;
		padding: 7px;
		border-radius: 5px;
		border: 1px solid #4b4b4b;

	}

</style>
<div class="groupBy">
	
	<a class="grafana-target-segment noBorderRight">
		<i class="icon-plus"></i>

	</a>



	<select ng-model="newType" ng-options="o.name for o in [{value:newTag(),name:'Tags'},{value:newTime(),name:'Time'},{value:newValue(),name:'Value'}]">
		<option value="">Select type</option>
	</select>

	<ul>
		<li ng-repeat="group in target.groups" class="listGroups" style="border-bottom:1px solid #4b4b4b; margin-bottom: 15px; padding-bottom: 7px;" >

			<a class="grafana-target-segment pointer" ng-click="remove($index)" tabindex="1">
			   <i class="icon-remove"></i>
			</a>

			<span class="grafana-target-segment pointer noBorderRight tagNames">{{group.name}}</span>

			<span ng-if="group.name == 'tag'" class="grafana-target-segment-list">
				<ul class="grafana-target-segment noBorderRight listInGroups">
					<li ng-repeat="(tagName,tagValues) in tagsList" class="grafana-segment-list pointer" ng-click="manageTagInGroup(group,tagName)" style="color:{{group.tags.indexOf(tagName) == -1 ? '':'#33b5e5'}};">
						{{tagName}}
					</li>
				</ul>
			</span>

			<span ng-if="group.name == 'time'" class="grafana-target-segment-list">

				<input ng-model="group.range_size.value" class="input-medium" type="text" placeholder="target units">

				<select ng-model="group.range_size.unit" class="input-small" style="width:auto;" ng-options="u for u in units"></select>
				
				<input ng-model="group.group_count" class="input-small" type="text" placeholder="target size">

			</span>

			<span ng-if="group.name == 'value'" class="grafana-target-segment-list">
				<input class="input-medium" type="text"  placeholder="target size"
				ng-model="group.range_size"
				>
			</span>

		</li>

	</ul>

</div>